<form method="POST" action="https://buttondown.email/api/emails/embed-subscribe/{{ site.buttondown_id }}" target="popupwindow" name="mc-embedded-subscribe-form" class="embeddable-buttondown-form" novalidate>
  <!-- This is required for the form to work correctly -->

  <div class="form-group">
    <input id="bd-email" type="email" name="email" placeholder="Email Address">
  </div>
  <input type="hidden" value="1" name="embed"/>
  <div class="form__btn">
    <input type="submit" value="Sign Up" name="subscribe">
  </div>
</form>

<p class="subscribe__error hidden"></p>
